@font-face {
  font-family: 'Product Sans';
}

* {
  font-family: 'Product Sans';
}

h3, p {
  margin: 0; padding: 0;
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  /* background: #ededed; */
  --main-text-color: white;
  --main-block-background: #3f48cc;
  --main-padding: 15px;
  --main-margin: 15px 0 0 0;
  --main-box-shadow: 0 4px 8px rgb(0,0,0,.2);
  --main-border-radius: 10px;
  --main-white: #f0f0f0;
  background: white;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.add-todo {
  background: var(--main-block-background);
  color: white;
  padding: 10px;
  margin: 17px 0;
  width: calc(100% - 20px);
  max-height: 25px;
  border-radius: var(--main-border-radius);
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

.app {
  background: white;
}

.todos-view {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.column {
  padding: 25px 0 0 0;
  margin-right: 15px;
  background: white;
}

.menu {

}

.todoItem {
  padding: 10px;
  margin: 15px 0 0 0;
  /* box-shadow: var(--main-box-shadow); */
  cursor: pointer;
  border: 3px solid var(--main-block-background);
  border-radius: var(--main-border-radius)
}

.todoItem h3 {
  margin: 0;
  padding: 0;
}

.todoItem p {
  margin: 10px 0 0 0;
}

.deleteBtn {
  background: white;
  color: red;
  font-weight: bold;
  border-radius: 3px;
  margin: 10px 0 0 0;
  cursor: pointer;
  width: 30px;
}

.todo-item-position-changer {
  color: white;
  background: var(--main-block-background);
  border-radius: calc(var(--main-border-radius) - 3px);
  height: 25px;
  justify-content: space-around;
  min-width: 40px;
  margin: 0 0 0 10px;
}

.position-changer-right, .position-changer-left {
  border-radius: 50px;
  font-size: 15px;
  transition: .1s;
}

.position-changer-right:hover, .position-changer-left:hover {
  font-size: 17px;
}

.todo-item-position-changer i {
  margin: 0;
  padding: 0;
}

.additional-data {
  display: none;
}

.addTodoWindow {
  background: rgb(0,0,0,.1);
  position: fixed;
  width: 100%;
  height: calc(100vh);
  backdrop-filter: blur(2px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.addTodoForm {
  width: 300px;
  background: white;
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
}

.addTodoForm input {
  margin: 15px 0 0 0;
  border: 3px solid var(--main-block-background);
  border-radius: var(--main-border-radius);
  padding: 10px;
  width: calc(100% - 25px);
}

.addTodoSaveBtn {
  margin: 15px 0 0 0;
  background: var(--main-block-background);
  padding: 10px 25px;
  max-width: 30px;
  border-radius: var(--main-border-radius);
  color: white;
  cursor: pointer;
}

.closeAddTodoWindow {
  background: red;
  width:  20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  justify-content: center;
  font-size: 13px;
}

.routerLink {
  width: calc(100% - 20px);
  padding: 10px;
  background: white;
  color: var(--main-block-background);
  margin: var(--main-margin);
  border-radius: var(--main-border-radius)
}

.routerMenu {
  width: calc(25% - 45px);
  position: fixed;
  margin: 0 10px 0 0;
  padding: 15px 15px 0 15px;
  background: var(--main-white);
  height: calc(100vh - 15px);
  border-radius: 0 10px 0 0;
}
