/* @font-face {
  font-family: 'Product Sans';
} */

* {
  font-family: 'Product Sans';
}

h3, p {
  margin: 0; padding: 0;
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  /* background: #ededed; */
  --main-settings-width: 450px;
  --main-text-color: white;
  --main-block-background: #0055ff;
  --main-padding: 15px;
  --main-margin: 15px 0 0 0;
  --main-border-radius: 10px;
  --main-white: #f0f0f0;
  --main-theme-color: #ffffff;
  --main-theme-font-color: white;
  --main-box-shadow-color: rgb(0,0,0,.2);
  --main-box-shadow: 0 5px 10px var(--main-box-shadow-color);
  --main-nav-color: #f0f0f0;
  background: var(--main-theme-color);
  color: var(--main-theme-font-color);
}

.backgroundImg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: grid;
  grid-template-columns: calc(25% - 15px) calc(75% + 15px);
}

.backgroundImg-content {
  border-radius: 10px 0 0 0;
  height: 100vh;
  /*background-image: url("../../media/imgs/wallpaper-catalina.jpg");*/
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.add-todo {
  background: var(--main-block-background);
  color: var(--main-theme-color);
  padding: 11px;
  margin: 13px 0;
  width: calc(100% - 20px);
  max-height: 25px;
  border-radius: var(--main-border-radius);
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

/* .add-todo:hover {

} */

.todos-view {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  color: white;
}

.column {
  padding: 25px 0 0 0;
  margin-right: 15px;
}

.todoItem {
  padding: 10px;
  margin: 15px 0 0 0;
  /* box-shadow: var(--main-box-shadow); */
  cursor: pointer;
  border: 3px solid var(--main-block-background);
  border-radius: var(--main-border-radius);
  backdrop-filter: blur(4px);
  background: rgb(0,0,0,.3);
  transition: 0.3s;
}

.todoItem:hover {
  box-shadow: var(--main-box-shadow);
  background: rgb(0,0,0,.4);
}

.todoItem h3 {
  margin: 0;
  padding: 0;
}

.todoItem p {
  margin: 10px 0 0 0;
}

.todoItemDate {
  font-size: 13px;
  margin: 0;
  color: #dadada;
}

.deleteBtn {
  /* background: red; */
  color: white;
  /* font-weight: bold; */
  justify-content: center;
  border-radius: 50%;
  margin: 10px 0 0 0;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
  padding: 1px;
}

.deleteBtn:hover {
  /* background: white; */
  color: red;
}

.editBtn {
  /* background: #ff9d00; */
  color: white;
  /* font-weight: bold; */
  justify-content: center;
  border-radius: 50%;
  margin: 10px 0 0 0;
  cursor: pointer;
  padding: 1px;
  font-size: 15px;
  transition: 0.2s;
}

.editBtn:hover {
  /* background: white; */
  color: #ff9d00;
}

.todo-item-position-changer {
  color: var(--main-theme-color);
  background: var(--main-block-background);
  border-radius: calc(var(--main-border-radius) - 3px);
  height: 25px;
  justify-content: space-around;
  min-width: 40px;
  margin: 0 0 0 10px;
}

.position-changer-right, .position-changer-left {
  border-radius: 50px;
  font-size: 15px;
  transition: .1s;
}

.position-changer-right:hover, .position-changer-left:hover {
  font-size: 17px;
}

.todo-item-position-changer i {
  margin: 0;
  padding: 0;
}

.additional-data {
  display: none;
}

.addTodoWindow {
  color: var(--main-theme-font-color);
  background: rgb(0,0,0,.1);
  position: fixed;
  width: 100%;
  height: calc(100vh);
  backdrop-filter: blur(2px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}

.addTodoForm {
  width: 300px;
  background: var(--main-theme-color);
  padding: var(--main-padding);
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
}

.addTodoForm input {
  margin: 15px 0 0 0;
  background: var(--main-theme-color);
  border: 3px solid var(--main-block-background);
  border-radius: var(--main-border-radius);
  padding: 10px;
  width: calc(100% - 25px);
  color: var(--main-theme-font-color);
}

.addTodoSaveBtn {
  margin: 15px 0 0 0;
  background: var(--main-block-background);
  padding: 10px 25px;
  max-width: 30px;
  border-radius: var(--main-border-radius);
  color: var(main-theme-font-color);
  cursor: pointer;
  color: var(--main-theme-color);
}

.closeAddTodoWindow {
  background: red;
  width:  20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  justify-content: center;
  font-size: 13px;
  transition: 0.25s;
  cursor: pointer;
}

.closeAddTodoWindow:hover {
  background: none;
  color: red;
  font-size: 18px;
}

.routerLink {
  width: calc(100% - 20px);
  padding: 10px;
  /* background: var(--main-theme-color); */
  color: var(--main-block-background);
  margin: var(--main-margin);
  border-radius: var(--main-border-radius);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.routerLink:hover {
  background: var(--main-nav-color);
}

.routerLink-active {
  background: var(--main-router-link-color);
  box-shadow: var(--main-box-shadow);
}

.routerLink-active:hover {
  background: var(--main-router-link-color);
}

.routerMenu {
  width: calc(25% - 45px);
  position: fixed;
  margin: 0 10px 0 0;
  padding: 15px 15px 0 15px;
  background: var(--main-theme-color);
  height: calc(100vh - 15px);
  /* border-radius: 0 10px 0 0; */
}

.settings-view {
  display: grid;
  grid-template-columns: 25% 75%;
  color: white;
}

.settings {
  justify-content: center;
  height: 100vh;
}

.settings-container {
  margin: 0 0 15px 0;
  width: var(--main-settings-width);
  padding: 10px;
  border-radius: var(--main-border-radius);
  /* border: 3px solid var(--main-block-background); */
  background: var(--main-theme-color);
  color: var(--main-theme-font-color);
  backdrop-filter: blur(5px);
}

.colorChanger {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  border-radius: var(--main-border-radius);
  /* min-width: 80px; */
}

.changeContainer {
  margin: 0 0 0 15px;
  /* background: var(--main-async-color) ;
  height: 100%;
  padding: 10px;
  border-radius: calc(var(--main-border-radius) - 2px); */
}

.colorChangerCircle {
  border: 2px solid #181818;
  margin: 0 0 0 8px;
  width: 22px;
  height: 22px;
  /* background: var(--main-block-background); */
  cursor: pointer;
  border-radius: 50%;
}

.colorChangerCircle-active {
  border: 3.5px solid var(--main-block-background);
}

.wallpaperChangerItem {
  box-sizing: border-box;
  width: 70px;
  margin: 0 0 0 10px;
  height: 45px;
  border-radius: calc(var(--main-border-radius) - 2px);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid white;
  box-shadow: var(--main-box-shadow);
}

.wallpaperChangerItem-active {
  width: 80px;
  height: 55px;
}

.startWinodw {
  background: var(--main-theme-color);
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.dashboard-item {
  padding: var(--main-padding);
  border: 3px solid var(--main-block-background);
  border-radius: var(--main-border-radius);
  backdrop-filter: blur(4px);
  background: rgb(0,0,0,.3);
  width: var(--main-settings-width);
}

.areYouShureToDelete {
  position: fixed;
  width: 100%;
  height: 100vh;
  justify-content: center;
  backdrop-filter: blur(2px);
  background: rgb(0,0,0,0.1);
}

.areYouShureForm {
  width: 200px;
  /* height: 150px; */
  background: var(--main-theme-color);
  color: var(--main-theme-font-color);
  border-radius: var(--main-border-radius);
  padding: var(--main-padding);
  
}

.areYouShureFormYesBtn, .areYouShureFormNoBtn {
  justify-content: center;
  background-color: var(--main-theme-font-color);
  color: var(--main-theme-color);
  border-radius: calc(var(--main-border-radius) - 2px);
  margin-top: 10px;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

.areYouShureFormYesBtn {
  margin: 10px 5px 0 0;
}

.areYouShureFormNoBtn {
  margin: 10px 0 0 5px;
  background: var(--main-block-background);
}